/*
Styles for every screen have been taken into account in this file
since the owner of the page may wish to change them as he likes and make them different for different screens
*/


/*The common styles for the whole document*/
body{
	background:black;
	position:relative;
}

@font-face {
	font-family: openSansBold;
	src: url("../fonts/open-sans-bold.eot") /* EOT for IE */
}
@font-face {
	font-family: openSansBold;
	src: url("../fonts/open-sans-bold.ttf") /* TTF for CSS3 browsers */
}

.clr{
	clear:both;
}

.flt_left{
	float:left;
}

.col132{
	color:rgb(132,148,171);
}

/*Styles of the main content for all screens*/
.wrapper{
	margin:auto;
	padding:auto;
	position:relative;
}

/*Styles of the left panel - menu Styles for all screens*/
.wrapper_left{
	height:100%;
	background:rgb(25,28,36);
}

.wrapper_left_menu{
	list-style:none;
}

.wrapper_left_menu_item:hover, .wrapper_left_menu_item_active,.wrapper_left_menu_item:last-child{
	background:rgb(42,45,55);
}

.wrapper_left_menu_item>a{
	color:white;
	text-decoration:none;
	font-family:openSansBold, Verdana, Arial, sans-serif;
	font-size:0.9em;
}

.wrapper_left_menu_item>a:hover, .wrapper_left_menu_item_active>a, .wrapper_left_menu_item:last-child>a{
	color:rgb(153,153,153);
	text-decoration:none;
}

/*Styles for the right side of the page*/
.wrapper_right{
	height:100%;
	background:rgb(247,248,248);
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper_right_personal, .wrapper_right_header, .wrapper_right_footer{
	position:relative;
}

.wrapper_right_personal{
	color:rgb(132,148,171);
}

h2{
	font-family:openSansBold, Verdana, Arial, sans-serif;
	margin-top:0;
	color:black;
}

input.wrapper_right_personal_button{
	font-family:openSansBold, Verdana, Arial, sans-serif;
}

/*Styles for the part of the page with cvc code*/

.wrapper_right_personal_form_cvc_strip{
	background:rgb(228,233,238);
}

.wrapper_right_personal_form_cvc_num{
	float:right;
	width:60%;
	text-align:right;
	font-size:0.9em;
}

.wrapper_right_personal_form_cvc_num_inner{
	position:relative;
}

.wrapper_right_personal_form_cvc_num_inner img{
	position:absolute;
	top:10%;
	right:2px;
	z-index:10;
	height:80%;
}

/*Styles for submit button*/
.wrapper_right_personal_button{
	background:rgb(0,83,177);
	color:white;
}

/*Styles for the part of the page with additional information*/
.wrapper_right_footer{
	background:rgb(55,60,67);
	color:rgb(153,153,153);
	font-size:0.7em;
}

/*Styles for big screens*/

@media screen and (min-width:1000px)
{
/*Common styles*/

input, select{
	padding:5px;
}

.sm_margin{
	margin:5px auto;
	padding:0;
}	
.wrapper{
	width:80%;
}


/*Styles of the left panel - menu*/
.wrapper_left{
	width:30%;
}

.wrapper_left_menu_item{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	margin-left:-40px;
}

/*Styles for the right side of the page*/
.wrapper_right{
	width:70%;
}

.wrapper_right_personal, .wrapper_right_header, .wrapper_right_footer{
		padding:20px;
}

.wrapper_right_header_info_key{
	width:25%;
	color: rgb(153,153,153);
	float:left;
}

.wrapper_right_header_info_value{
		float:left;
}


/*Styles for the block with personal data*/
.wrapper_right_personal_form_card{
	position:absolute;
	z-index:20;
	top:20%;
	display:inline-block;
	width:52%;
	border:1px solid #eee;
	background:rgb(247,248,248);
}

.wrapper_right_personal_form_card_select select{
	width:100px;
	background:none;
	border:none;
}

.wrapper_right_personal_form_card_select{
	float:left;
	overflow: hidden;
	height: 100%;
	background: white url("../img/arrow.png") 90% center no-repeat;
	background-size: auto 50%;
	width: 70px;
	border:1px solid rgb(153,153,153);
	margin-right:2px;
}

.wrapper_right_personal_form_card_name{
	width:90%;
}

.wrapper_right_personal_form_card{
		border-radius:20px;
		padding:10px 10px 30px;
}

/*Styles for the part of the page with cvc code*/
 .wrapper_right_personal_form_cvc{
	float:right;
	display:inline-block;
	width:52%;
	border:1px solid #eee;
	background:rgb(247,248,248);
	overflow:hidden;
}

.wrapper_right_personal_form_cvc{
	border-radius:20px;
	padding:20px 30px 100px;
}

.wrapper_right_personal_form_cvc_strip{
	min-height:30px;
	margin:10px -30px;
}

.wrapper_right_personal_form_cvc_num{
	margin-right:-5px;
}

.wrapper_right_personal_form_cvc_num_inner{
	position:relative;
}

/*Styles for submit button*/
.wrapper_right_personal_button{
	border-radius:20px;
	padding:5px 25px;
}

/*Styles for the part of the page with additional information
.wrapper_right_footer{
	font-size:0.8em;
}*/

}

/*Styles for screens from 768px to 1000px*/
@media screen and (min-width: 768px) and (max-width: 1000px)
{
/*Common styles*/	
	
input, select{
	padding:5px;
}
	
.sm_margin{
	margin:5px auto;
	padding:0;
}	
	
.wrapper{
	width:100%;
}

/*Styles of the left panel - menu*/
.wrapper_left{
	width:30%;
}

.wrapper_left_menu_item{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	margin-left:-40px;
}

/*Styles of the right panel*/
.wrapper_right{
	width:70%;
}

.wrapper_right_personal, .wrapper_right_header, .wrapper_right_footer{
	padding:20px;
}

.wrapper_right_header_info_key{
		width:25%;
		color: rgb(153,153,153);
		float:left;
}

.wrapper_right_header_info_value{
		float:left;
}

/*Styles for the block of personal data*/
.wrapper_right_personal_form_card{
	position:absolute;
	z-index:10;
	top:20%;
	display:inline-block;
	width:52%;
	border:1px solid #eee;
	background:rgb(247,248,248);
	border-radius:20px;
	padding:10px 10px 30px;
}

.wrapper_right_personal_form_card_name{
	width:90%;
}
.wrapper_right_personal_form_card_select select{
		width:100px;
		background:none;
		border:none;
}

.wrapper_right_personal_form_card_select{
		float:left;
		overflow: hidden;
		height: 100%;
		background: white url("../img/arrow.png") 90% center no-repeat;
		background-size: auto 50%;
		width: 60px;
		border:1px solid rgb(153,153,153);
		margin-right:2px;
}

/*Styles for the part of the page with cvc code*/
 .wrapper_right_personal_form_cvc{
	float:right;
	display:inline-block;
	width:52%;
	border:1px solid #eee;
	background:rgb(247,248,248);
	overflow:hidden;
}

.wrapper_right_personal_form_cvc_strip{
	min-height:30px;
	margin:10px -30px;
}

 .wrapper_right_personal_form_cvc{
	border-radius:20px;
	padding:10px 30px 100px;
}

.wrapper_right_personal_form_cvc_num{
	margin-right:-5px;
}

/*Styles for submit button*/
.wrapper_right_personal_button{
	border-radius:20px;
	padding:5px 25px;
}

/*Styles for the part of the page with additional information
.wrapper_right_footer{
	font-size:0.9em;
}*/
}

/*Styles for screens from 480px to 768px*/
@media screen and (min-width: 480px) and (max-width: 767px){
	
input, select{
	padding:5px;
}
	
.sm_margin{
	margin:5px auto;
	padding:0;
}	
	
.wrapper{
	width:100%;
}
/*Styles of the left panel - menu*/

.wrapper_left{
	width:100%;
}

.wrapper_left_menu_item{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	margin-left:-40px;
	text-align:center;
}

/*Styles of the right panel*/

.wrapper_right{
	width:100%;
}

.wrapper_right_personal, .wrapper_right_header, .wrapper_right_footer{
	padding:20px;
}

.wrapper_right_header_info_key{
		width:45%;
		color: rgb(153,153,153);
		float:left;
		text-align: right;
		margin-right:5%;
}

.wrapper_right_header_info_value{
		float:left;
		text-align: left;
}

/*Styles of the block with personal data*/
.wrapper_right_personal_form_card{
	position:relative;
	width:70%;
	margin:auto;
	border:1px solid #eee;
	background:rgb(247,248,248);
}

.wrapper_right_header, .wrapper_right_personal h2{
		text-align:center;
}

.wrapper_right_personal_form_card_name{
	width:90%;
}

.wrapper_right_personal_form_card{
		border-radius:20px;
		padding:30px 30px 50px;
}


 .wrapper_right_personal_form_cvc{
	position:relative;
	width:70%;
	margin:auto;
	border:1px solid #eee;
	background:rgb(247,248,248);
	overflow:hidden;
	border-radius:20px;
	padding:30px 30px 150px;
}

.wrapper_right_personal_form_cvc_strip{
	min-height:30px;
	margin:10px -30px;
}

.wrapper_right_personal_form_card input.wrapper_right_personal_form_card_num{
	width:17%;
}

.wrapper_right_personal_form_cvc_num input{
	width:42%;
}

.wrapper_right_personal_form_card_select select{
		width:100px;
		background:none;
		border:none;
}

.wrapper_right_personal_form_card_select{
		float:left;
		overflow: hidden;
		height: 100%;
		background: white url("../img/arrow.png") 90% center no-repeat;
		background-size: auto 50%;
		width: 70px;
		border:1px solid rgb(153,153,153);
		margin-right:2px;
}

.wrapper_right_personal_form_cvc_num{
	margin-right:-5px;
}

/*Styles for submit button*/
.wrapper_right_personal_button{
	border-radius:20px;
	padding:5px 25px;
	margin-left: 60px;
	margin-top: 20px;
}

/*Styles for the part of the page with additional information
.wrapper_right_footer{
	font-size:0.9em;
}*/
}

/*Styles for small screens*/
@media screen and (max-width:479px)
{
input, select{
	padding:5px;
}
	
.sm_margin{
	margin:5px auto;
	padding:0;
}	
	
.wrapper{
	width:100%;
}
/*Styles of the left panel - menu*/

.wrapper_left{
	width:100%;
}

.wrapper_left_menu_item{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:0;
	margin-left:-40px;
	text-align:center;
}

/*Styles of the right panel*/
.wrapper_right{
	width:100%;
}

.wrapper_right_header, .wrapper_right_personal h2{
	text-align:center;
}

.wrapper_right_personal, .wrapper_right_header, .wrapper_right_footer{
	padding:5px;
}

.wrapper_right_header_info_key{
		color: rgb(153,153,153);
}

.wrapper_right_personal_form_card_select select{
		width:100px;
		background:none;
		border:none;
}

.wrapper_right_personal_form_card_select{
		float:left;
		overflow: hidden;
		height: 100%;
		background: white url("../img/arrow.png") 90% center no-repeat;
		background-size: auto 50%;
		width: 70px;
		border:1px solid rgb(153,153,153);
		margin-right:2px;
}

/*Styles for the block with personal data of the user*/
.wrapper_right_personal_form_card{
	position:relative;
	width:90%;
	margin:auto;
	border:1px solid #eee;
	background:rgb(247,248,248);
}

.wrapper_right_personal_form_card_name{
	width:90%;
}

/*Styles for the part of the page with cvc code*/
 .wrapper_right_personal_form_cvc{
	 position:relative;
	width:90%;
	margin:auto;
	border:1px solid #eee;
	background:rgb(247,248,248);
	overflow:hidden;
	border-radius:20px;
	padding:30px 10px 80px;
}

.wrapper_right_personal_form_card{
	border-radius:20px;
	padding:20px 10px 30px;
}

.wrapper_right_personal_form_cvc_strip{
	min-height:30px;
	margin:10px -30px;
}

.wrapper_right_personal_form_cvc_num{
	margin-right:-5px;
}

/*Styles for submit button*/
.wrapper_right_personal_button{
	border-radius:20px;
	padding:5px 25px;
	margin-left: 10px;
	margin-top: 20px;
}

/*Styles for the part of the page with additional information
.wrapper_right_footer{
	font-size:0.9em;
}*/
}
